$blue : #3b82f6;
$gray : #64748b;

.login {
    background-color: #fff;
    text-align: center;
    margin: 100px 0;
    border-radius: 8px;

    .switchBtn {
        padding: 50px 0;

        a {
            text-decoration: none;
            color: #fff;
            background-color: $blue;
            padding: 10px 15px;
            margin: 0 7px;
            border-radius: 8px;
            font-size: 17px;
            font-weight: 600;

            i {
                margin-left: 8px;
            }
        }
    }

    .loginDesc {
        padding-bottom: 15px;

        h2 {
            color: $gray;
            font-size: 30px;
            font-weight: 700;
        }

        p {
            color: $gray;
            font-size: 16px;
            font-weight: 600;
        }
    }

    .pleaseRegister {
        margin: 0 30px 20px 30px;
        background: #fa8989;
        color: #ffffff;
        padding: 9px 0;
        border-radius: 8px;

        span {
            font-size: 15px;
            font-weight: 700;
        }
    }

    .loginSuccsses {
        margin: 0 30px 20px 30px;
        background: #33ff00;
        color: #ffffff;
        padding: 9px 0;
        border-radius: 8px;

        span {
            font-size: 15px;
            font-weight: 700;
        }
    }
    .loginNotSuccessful {
        margin: 0 30px 20px 30px;
        background: #fa8989;
        color: #ffffff;
        padding: 9px 0;
        border-radius: 8px;

        span {
            font-size: 15px;
            font-weight: 700;
        }
    }
    .loginInputs {
        padding: 0 30px 50px 30px;
        text-align: right;

        label {
            display: block;
            color: $gray;
            margin-bottom: 5px;
            font-size: 15px;
            margin-right: 8px;
        }

        input {
            background-color: #f4f5f7;
            border: none;
            padding: 9px 2px;
            border-radius: 8px;
        }

        input:focus {
            outline: none;
        }

        .email {
            margin: 10px 0;

            input {
                width: 100%;
            }
        }

        .password {
            margin: 10px 0;
            width: 100%;
            background-color: #f4f5f7;
            border-radius: 8px;
            display: flex;
            align-items: center;

            input {
                width: 90%;
            }

            i {
                display: 10%;
                cursor: pointer;
            }
        }

        button {
            margin: 10px 0;
            width: 100%;
            background-color: $blue;
            padding: 9px 0;
            border-radius: 8px;
            border: none;
            color: #fff;
        }
    }
}